<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8"
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge"
        <title> </title>
        {% if css_template == 'stylesheet1' %}
          <link rel="stylesheet" href="../static/css/style.css">
        {% endif %}
        {% if css_template == 'stylesheet2' %}
          <link rel="stylesheet" href="../static/css/second_style.css">
        {% endif %}
    </head>
    <body>
        <div class="everything">
            <div class="container">
                <div class="box">
                    <span style="--i:1;"></span>
                    <span style="--i:1;"></span>
                    <span style="--i:2;"></span>
                    <span style="--i:3;"></span>
                    <span style="--i:4;"></span>
                    <span style="--i:5;"></span>
                    <span style="--i:6;"></span>
                    <span style="--i:7;"></span>
                    <span style="--i:8;"></span>
                    <span style="--i:9;"></span>
                    <span style="--i:10;"></span>
                    <span style="--i:11;"></span>
                    <span style="--i:12;"></span>
                    <span style="--i:13;"></span>
                    <span style="--i:14;"></span>
                    <span style="--i:15;"></span>
                    <span style="--i:16;"></span>
                    <span style="--i:17;"></span>
                    <span style="--i:18;"></span>
                    <span style="--i:19;"></span>
                    <span style="--i:20;"></span>
                </div>
                <div id="cover_box4"></div>
                <div id="cover_box5"></div>
                <div id="trans_cover"></div>
                <a id="stop-button1" href="results1.html"> </a>
                <a id="stop-button2" href="results2.html"> </a>
                <a id="stop-button3" href="results3.html"> </a>
                <a id="stop-button4" href="results4.html"> </a>
                <div class="dot">
                    <span><p> </p></span>
                </div>
            </div>
        </div>  
        <script src="{{url_for('static', filename='../static/js/main.js')}}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </body>
</html>