<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8"
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge"
        <title> </title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
      <div class="home-page">
        <img class="logo-img" src="static/imgs/download.png" alt="logo">
        <div class="botton-group">
          <a class="button" href="anim-t.html">Start Thickness Test</a>
          <a class="button" href="anim-c.html">Start Contrast Test</a>
        </div>
        <!-- <a class="button" class="spacing" href="">Start Constrast Test</a> -->
      </div>
      <script src="{{url_for('static', filename='../static/js/main.js')}}"></script>
  </body>
</html>