<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8"
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge"
        <title> </title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
      <div class="results-table">
        <h1>Results</h1>
        <div class="content">
          <h2>Elapsed Time: {{ stop_time }} seconds</h2>
          <h2>Displayed Quadrant: {{ rkey }}</h2>
          <h2>Selected Quadrant: 1</h2>
          <div class="results-buttons">
            <a href="index.html">Home</a>
          </div>
        </div>
      </div>
      <script src="{{url_for('static', filename='../static/js/main.js')}}"></script>
  </body>
</html>